.cartItem {
  display: grid;
  grid-template-columns: 100px 200px;
  align-items: center; 
  justify-content: center; 
  padding: 8px 20%;
  margin: 6px 16px;
  border-style: solid;
  border-color: #ccc;
}

.cartItem img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 1rem;
}

.cartItem img,
.description {
  padding-bottom: 6px;
}

.cartItem .description {
  flex: 1;
}

.cartItem .description p {
  margin: 0 1 1 1;
}

.cartItem .description b {
  font-weight: bold;
}

.cartItem .countHandler {
  display: flex;
  align-items: center;
}

.cartItem .countHandler button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  cursor: pointer;
}

.cartItem .countHandler input {
  width: 40px;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
}

.deleteButton button {
  display: inline;
  font-size: 0.8rem;
  color: rgb(43, 43, 175);
  border: none; 
  background-color: white;
  cursor: pointer;
  padding-left: 60%;
}


