.vpn-container{
  font-family: var(--font-family);
  align-items: center;
  font-weight: 700;
}

.pricing-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 20px;
  
}

.pricing-section p{
  color: var(--color-text);
  margin: 100px 50px;
}

.pricing-section {
  text-align: center;

  background-color: var(--color-bg);
  margin: 100px 20px;
}

.grandient_text {
  color: var(--gradient-text);
}