.product-container {
  height: 200px;
  font-family: var(--font-family);
  margin: 60px;
  align-items: center;
  text-align: center;
}

.product-container img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.product-container img:hover{
  transform: scale(1.2);
  transition: all 0.2s;
}

.description b {
  width: 250px; 
  padding: 10px;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-height: 74px; /* 2行分の高さ（1行あたりの高さ × 行数） */
  line-height: 32px; /* 1行あたりの高さ */
  font-size: 26px;
  font-weight: 800;
  text-overflow: ellipsis;
}

.description p {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.addToCartBttn {
  position: relative;
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 16px;
  color: black;
  background-color: rgb(255, 251, 0);
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.addToCartBttn:hover {
  background-color: rgb(255, 187, 0);
  color: #564e4e;
}

.product-badge{
  position: absolute;
  background-color: #46a044;
  border: none;
  color: #ffffff;
  font-weight: 700;
  border-radius: 20px;
  margin-left: 36px;
  margin-top: -46px;
  padding: 0px 8px;
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  .product-container {
    margin: 24px;
  }

  .addToCartBttn {
    font-size: 10px;
  }

  .description b {
    width: 152px; 
    font-size: 18px;
    max-height: 54px; /* 2行分の高さ（1行あたりの高さ × 行数） */
    line-height: 22px; /* 1行あたりの高さ */
  }

  .product-badge{
    margin-left: 20px;
    margin-top: -40px;
  }
}









