.product-container {
  height: 200px;
  font-family: var(--font-family);
  margin: 60px;
  align-items: center;
  text-align: center;
}

.product-container img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.description b {
  width: 250px; 
  display: block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-height: 64px; /* 2行分の高さ（1行あたりの高さ × 行数） */
  line-height: 32px; /* 1行あたりの高さ */
  font-size: 26px;
  font-weight: 800;
  text-overflow: ellipsis;
}

.description p {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.addToCartBttn {
  border-radius: 10px;
  font-size: 16px;
  color: black;
  background-color: rgb(255, 251, 0);
  outline: none;
}

.addToCartBttn:active {
  opacity: 0.6;
}

@media only screen and (max-width: 800px) {
  .product-container {
    margin: 24px;
  }

  .addToCartBttn {
    font-size: 10px;
  }

  .description b {
    width: 152px; 
    font-size: 18px;
    max-height: 44px; /* 2行分の高さ（1行あたりの高さ × 行数） */
    line-height: 22px; /* 1行あたりの高さ */
  }
}


