.navbar {
  position: sticky;
  top: 0;
  z-index: 100; 
  display: flex;
  background-color: var(--color-bg);
  width: 101%;
  height: 60px;
  align-items: center;
}

.shopLogo {
  width: 76%;
  height: auto;
}

.links {
  display: flex;
  align-items: center;
  width: 120%;
  justify-content: space-between;
  padding-top: 8px;
}

.links :hover {
  color: #878787fe;
}

.links  a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  top: 0;
}

.cart { 
  top: 0;
  position: relative;
  padding-right: 40px;
}


.cart-badge {
  position: absolute;
  background-color: #ff9019;
  color: #000000e2;
  font-weight: 700;
  border-radius: 20px;
  margin-left: -24.5px;
  bottom: 26px;
  padding: 0px 6px;
  font-size: 13px;
}

@media only screen and (max-width: 800px){
  .cart-badge {
    font-size: 13px;
  }
}