.slider img {
  width: 100%;
  height: auto;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.slide {
  opacity: 0;
  transition-duration: 0.4s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.4s;
}

@media only screen and (min-width: 800px) {
  .slider img {
    width: 60%;
    height: auto;
    margin-left:19%  ;
  }

  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .image-blur {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%; /* 背景画像を完全にカバー */
    background-size: cover;
    background-position: center;
    filter: blur(7px); /* ブラーの強さを調整 */
    opacity: 1; /* ブラーの透明度を調整 */
    z-index: -1;
  }
  

}


