.slider img {
  width: 100%;
  height: auto;
  margin-top: -20px;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
}

.slide {
  opacity: 0;
  transition-duration: 0.4s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.4s;
  transform: scale(1.08);
}
